.big_banner {
  height: 150px;
  background: rgb(218, 59, 59);
  background: url(../../../Images/bg1.png);
  background-size: cover;
  background-position-y: center;
  border-radius: 20px;
}
.big_banner_title {
  color: white;
}
