@media screen and (min-width: 768px) {
  .card-logement,
  .card-logement img {
    height: 21.25rem;
    width: 21.25rem;
  }
}

.card-logement {
  border-radius: 25px;
}

.thumb_wrapper {
  margin: 0 auto 1.25rem;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-duration: 0.5s;
}
