header {
  nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin: 0 0.2rem;
        color: #ff6060;
        font-size: 24px;
      }
    }
  }
}
.logo {
  width: 150px;
}
